body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#display {
    width: 94%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.number {
    background-color: #f0f0f0;
}

.operator, .equal, .clear {
    background-color: #ff9800;
    color: #333;
}

.number:hover, .operator:hover, .equal:hover, .clear:hover {
    background-color: #a1a0a0;
}
